  * {
	box-sizing: border-box;
  }

  body {
	/* background-image: url("images/overlay.png"), url("images/newbg.gif"); */
	background-image: linear-gradient(to top, #640039, #4c0a2b, #350d1e, #200a12, #000000);
	background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;
	background-attachment: fixed;
	overflow: auto;
	}
.dtext {
	font-family: "Press Start 2P";
	color: #0000;
	font-size: 14px;
	line-height: 1.5;
	background:
	  linear-gradient(-90deg,magenta 5px,#0000 0) 10px 0,
	  linear-gradient(magenta 0 0) 0 0;
	background-size:calc(var(--n)*1ch) 200%;
	-webkit-background-clip:padding-box, text;
	background-clip:padding-box, text;
	background-repeat:no-repeat;
}
.type {
			animation: 
			  b .7s infinite steps(1),   
			  t calc(var(--n)*.05s) steps(var(--n)) forwards;
			-moz-animation: 
				b .7s infinite steps(1),   
				t calc(var(--n)*.05s) steps(var(--n)) forwards; /* Firefox */
			-webkit-animation: 
				b .7s infinite steps(1),   
				t calc(var(--n)*.05s) steps(var(--n)) forwards; /* Safari and Chrome */
			-o-animation: 
				b .7s infinite steps(1),   
				t calc(var(--n)*.05s) steps(var(--n)) forwards; /* Opera */
		  }
		  @keyframes t{
			from {background-size:0 200%}
		  }
		  @keyframes b{
			50% {background-position:0 -100%,0 0}
		  }
	
		
		.textBox {
			display: flex; 
			height: 25%; 
			width: 50vw;
			position: fixed;
			bottom: 35px;
			bottom: .1;
			animation: fly 1s ease-out;
			
		   }
		@keyframes fly {
			0%   { 
			transform: translateY(200%); 		
			}
			100% { 
			transform: translateY(0%); 
			}
		}
.talksprite {
	transition: ease-out;
	animation: talk var(--n) infinite;
	animation-iteration-count: 1;
}

@keyframes talk {
	from {content:url(images/meportrait.gif)}
	to {content:url(images/meportraitIdle.gif)}
}


.header{
	display: flex; 
	height: 15dvh; 
	width: 45vw; 
	justify-content: center; 
	margin: .2em;
}
.choicesContainer{
	margin: 2px;
	background-image: url(images/box.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex; 
	height: 50vh; 
	width: 65vw; 
	padding: .5em; 
	justify-content: center;
	flex-direction: row;
}

.choicebox {
	display: flex; 
	align-items: center; 
	flex-direction: column; 
	height: 80%; 
	justify-content: center; 
	margin: 2em;
	span {
		color: rgb(0,255,172); 
		font-family: 'Press Start 2P'; 
		margin: .5em;
	}
}

.choicebox:hover{
	cursor: pointer;
	span{
		color: rgb(255, 58, 130);
	}
}
.dialoguePart{
	width: 90%;
	display: inline-block;
	border:solid 3px magenta; 
	border-width: 3px 3px 3px 0px; 
	padding: 0em .5em .5em .5em;
	background-color: black;
	overflow-y: hidden;

}
.closeButton{
	font-family: 'Silkscreen'; 
	color: magenta; 
	cursor: pointer;
	font-size: 24px;
	margin: 0px 2px 2px 2px;
}

.closeButton:hover{
	color: aquamarine;
}

.backbutton{
	font-family: 'Silkscreen'; 
	color: aquamarine; 
	cursor: pointer;
	font-size: 42px;
	font-weight: bolder;
	margin: 2px;
}

.backbutton:hover{
	color: rgb(255, 58, 130)
}

.sendbutton{
	background-color:blue;
	color: aliceblue;
	border: 0px;
	font-family: 'Silkscreen';
}

.sendbutton:hover{
	background-color: hotpink;
	color:blue;
}
@media screen and (max-width: 720px) {
	.header{
		width: 50%;
		height: 5dvh;
	}
	.choicesContainer {
	  flex-direction: column;
	}
	.choicebox{
		height: 30%;
		margin: .1em;
		span {
			color: rgb(0,255,172); 
			font-family: 'Press Start 2P'; 
			margin: .3em;
		}
	}
	.choicebox span{
		width: 100%;
		font-size: 12px;
		text-align: center;
	}
	.textBox{
		flex-direction: column;
		bottom: 77px;
		display: inline-block;
	}
	.dialoguePart{
		border-width: 3px 3px 3px 3px; 
		font-size: 8px;
		max-height: 90%;
		overflow-y: auto;
	}
	.type{
		font-size: 12px;
	}
	.talksprite{
		height: 105%;
		width: 105%;
	}

  }


		  