@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("fontawesome-all.min.css");
@font-face {
	font-family: silkscreen;
	src: url(fonts/slkscr.ttf);
  }

  body {
	/* background-image: url("images/overlay.png"), url("images/newbg.gif"); */
	background-image: linear-gradient(to top, #640039, #4c0a2b, #350d1e, #200a12, #000000);
	background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;
	background-attachment: fixed;
	overflow: hidden;
}
	.type {
			font-family: "Press Start 2P";
			color:#0000;
			background:
			  linear-gradient(-90deg,#000000 5px,#0000 0) 10px 0,
			  linear-gradient(#000000 0 0) 0 0;
			background-size:calc(var(--n)*1ch) 200%;
			-webkit-background-clip:padding-box,text;
			background-clip:padding-box,text;
			background-repeat:no-repeat;
			animation: 
			  b .7s infinite steps(1),   
			  t calc(var(--n)*.05s) steps(var(--n)) forwards;
			-moz-animation: 
				b .7s infinite steps(1),   
				t calc(var(--n)*.05s) steps(var(--n)) forwards; /* Firefox */
			-webkit-animation: 
				b .7s infinite steps(1),   
				t calc(var(--n)*.05s) steps(var(--n)) forwards; /* Safari and Chrome */
			-o-animation: 
				b .7s infinite steps(1),   
				t calc(var(--n)*.05s) steps(var(--n)) forwards; /* Opera */
		  }
		  @keyframes t{
			from {background-size:0 200%}
		  }
		  @keyframes b{
			50% {background-position:0 -100%,0 0}
		  }
	
		.textBox {
			/* Apply animation to this element */	
			animation: fly 1s ease-out;
		   }
		   /* Move it (define the animation) */
		   @keyframes fly {
			0%   { 
			transform: translateY(200%); 		
			}
			100% { 
			transform: translateY(0%); 
			}
		   }
		  